node_modules
npm-debug.log
dist
build
.git
.gitignore
.env
.env.local
.env.*.local
.angular
.DS_Store
.vscode
.idea
*.log
coverage
test
*.spec.ts
.prettierignore
.eslintignore
.editorconfig
README.md
LICENSE
docker-compose*.yml
.dockerignore
Dockerfile*
e2e
